<app-burger-menu [goToFn]="goTo.bind(this)" [switchLang]="switchLang.bind(this)" class="burger-menu"></app-burger-menu>
<header>
   <nav>
      <a href="index.html" class="logo">
      <img [src]="imagePath" alt="Aldin">
      </a>
      <div class="nav-links-wrapper" >
         <div class="navigation-links" [attr.data-custom]="currentLanguageActive">
            @for (link of langPath.header.links; track $index) {
            <a (click)="goTo(generateID(link)); " [class]="generateID(link)" [class.underlineActive]="generateID(link) === sectionIsActive" [attr.data-custom]="currentLanguageActive">{{link}}</a>
            }
         </div>
         <div class="lang">
            <button class="german" #de [attr.data-custom]="currentLanguageActive" (click)="switchLang('de');" [ngStyle]="{ 'background-color': this.currentLanguageActive === 'de' ? 'rgba(232, 114, 6, 1)' : 'transparent',
            'pointer-events': this.currentLanguageActive === 'de' ? 'none' : 'visiblePainted'
            }">DE</button>
            <button class= "english" #en [attr.data-custom]="currentLanguageActive" (click)="switchLang('en'); "[ngStyle]="{ 'background-color': this.currentLanguageActive === 'en' ? 'rgba(112, 230, 28, 1)' : 'transparent',
            'pointer-events': this.currentLanguageActive === 'en' ? 'none' : 'visiblePainted'
            }">EN</button>
            <button class= "bosnian" #en [attr.data-custom]="currentLanguageActive" (click)="switchLang('bs'); "[ngStyle]="{ 'background-color': this.currentLanguageActive === 'bs' ? 'rgba(1, 183, 224, 1)' : 'transparent',
            'pointer-events': this.currentLanguageActive === 'bs' ? 'none' : 'visiblePainted'
            }">BS</button>
         </div>
      </div>
   </nav>
</header>