@import "../../../styles/variables";
@import "./../../../styles/mixins";

section {
  @include flex-center($justify: space-between);
  z-index: 1001;
  position: relative;
  width: 100%;
}

.about-me-container {
  color: white;
  padding: 0 180px 0 100px;
  margin: 0;

  h1 {
    font-size: 90px;
    font-family: fontPoppinsMedium;
  }

  h4 {
    font-family: fontPoppins;
    font-weight: normal;
  }
}

.location,
.improving,
.problem-solving {
  display: flex;
  align-items: center;
  margin: 20px 0 20px;

  img {
    padding: 30px;
    margin: 0;
  }

  span {
    margin: 0;
  }
}

.portrait-container {
  @include flex-center($justify: flex-end);
  margin: 0;
  width: 100%;

  img {
    width: 453px;
    height: 453px;
    border: 4px solid $color-green;
    border-radius: 50%;
    margin: 0;
    object-fit: cover;
  }

  .line {
    border: 2px solid $color-green;
    width: 300px;
    height: 2px;
    margin: 0;
    z-index: 100;
  }
}

.shadow {
  width: 100%;
  height: auto;
}

.shadow-image {
  position: relative;

  img {
    position: absolute;
    left: 100%;
    transform: translateX(-50%);
    bottom: -160px;
  }
}
