@import "../../../styles/variables";
@import "./../../../styles/mixins";

section {
  @include flex-setup($justify: space-between);
  z-index: 1001;
  position: relative;
  width: 100%;

  @include respond-between(1301px, 1600px) {
    margin-top: -90px;
  }
}

.about-me-container {
  color: white;
  padding: 0 180px 0 100px;
  margin: 0;

  h1 {
    font-size: 5.625rem;
    font-family: fontPoppinsMedium;
  }

  h4,
  span {
    font-family: fontPoppins;
    font-weight: normal;

    @include respond-between(1024px, 1300px) {
      font-size: 0.875rem !important;
    }

    @include respond-between(310px, 670px) {
      h4 {
        font-size: 1rem;
        z-index: 2222;
        position: relative;
      }

      span {
        font-size: 0.8rem;
      }
    }
  }

  @include respond-between(1601px, 1920px) {
    padding: 0 100px 0 140px;

    h1 {
      font-size: 5.025rem !important;
    }
  }

  @include respond-between(1301px, 1600px) {
    padding: 0 70px 0 70px;

    h1 {
      font-size: 4.225rem;
    }
  }

  @include respond-between(1024px, 1300px) {
    padding: 0 50px 0 50px;

    h1 {
      font-size: 3.125rem !important;
    }
  }

  @include respond-between(970px, 1023px) {
    padding: 0 50px 0 50px;

    h1 {
      font-size: 3.1rem !important;
    }
  }

  @include respond-between(670px, 970px) {
    padding: 0 50px 0 50px;
    h1 {
      font-size: 2.813rem !important;
    }
  }

  @include respond-between(310px, 670px) {
    padding: 0 25px 0 25px;
    h1 {
      font-size: 2.45rem !important;
      margin-bottom: 10px;
    }
  }
}

.location,
.improving,
.problem-solving {
  display: flex;
  align-items: center;
  margin: 20px 0 20px;

  span {
    margin: 0;
  }
}

.image-location {
  background-image: url("./../../../assets/icons/about/Capa_small.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 40px;

  &:hover {
    background-image: url("./../../../assets/icons/about/Capa_big.png");
  }
}

.image-light-bulb {
  background-image: url("./../../../assets/icons/about/Vector_small.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 40px;

  &:hover {
    background-image: url("./../../../assets/icons/about/Vector_big.png");
  }
}

.image-puzzle {
  background-image: url("./../../../assets/icons/about/puzzle_small.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 40px;

  &:hover {
    background-image: url("./../../../assets/icons/about/puzzle_big.png");
  }
}

.portrait-container {
  @include flex-setup($justify: flex-end);
  margin: 0;
  width: 100%;

  img {
    width: 453px;
    height: 453px;
    border: 4px solid $color-green;
    border-radius: 50%;
    margin: 0;
    object-fit: cover;
    @include glow-effect($color-green, 10px, 20px, 9px);
  }

  .line {
    border: 2px solid $color-green;
    width: 300px;
    height: 2px;
    margin: 0;
    z-index: 100;
    @include glow-effect($color-green, 10px, 20px, 30px);
  }

  @include respond-between(1301px, 1600px) {
    img {
      width: 300px !important;
      height: 300px !important;
    }

    .line {
      width: 120px;
    }
  }

  @include respond-between(1024px, 1300px) {
    img {
      width: 250px !important;
      height: 250px !important;
    }

    .line {
      width: 90px;
    }
  }

  @include respond-between(970px, 1023px) {
    img {
      width: 200px;
      height: 200px;
    }
  }

  @include respond-between(310px, 970px) {
    display: none;
  }
}

.shadow {
  width: 100%;
  height: auto;
}

.shadow-image {
  position: relative;

  img {
    position: absolute;
    left: 100%;
    transform: translateX(-45%);
    bottom: -160px;
    z-index: -1;
  }

  @include respond-between(1921px, 3500px) {
    img {
      transform: translateX(-15%);
    }
  }

  @include respond-between(1301px, 1600px) {
    img {
      bottom: -190px;
      transform: translateX(-35%);
    }
  }

  @include respond-between(1024px, 1300px) {
    img {
      bottom: -90px;
      width: 446px;
      height: auto;
    }
  }

  @include respond-between(970px, 1023px) {
    .shadow-image {
    }

    img {
      width: 360px;
      height: auto;
      bottom: -80px;
    }
  }

  @include respond-between(670px, 970px) {
    .shadow-image {
      bottom: 212px;

      img {
        width: 190px;
        height: auto;
      }
    }
  }

  @include respond-between(310px, 400px) {
    img {
      bottom: 212px;
    }
  }

  @include respond-between(310px, 670px) {
    bottom: 212px;

    img {
      width: 380px;
      height: auto;
    }
  }
}

.line {
  @include respond-between(1921px, 3500px) {
    width: 100vw !important;
    margin-right: calc(-100vw + 50%) !important;
  }

  @include respond-between(970px, 1023px) {
    width: 50px !important;
  }
}

@include respond-between(310px, 670px) {
  .image-light-bulb,
  .image-location,
  .image-puzzle {
    padding: 20px;
    padding-right: 30px;
  }
}
