<section id="landingPage" class="hero">
   <div class="hero-content">
      <div  class="hero-background-image"></div>
      <div class="hero-wrapper">
         <div class="hero-image-container">
            <img class="shadow-img" [src]="imagePath" alt="">
            <img  class="me" src="assets/img/me3.png" alt="">
         </div>
         <div class="title-container" [attr.data-custom]="currentLang">
            <div class="vertical-text" [attr.data-custom]="currentLang" [ngStyle]="{'font-size': getFontSize()}">
               <h3 [attr.data-custom]="currentLang">{{langPath.landingPage.me}}</h3>
            </div>
            <div class="title-text">
               <div class="name">
                  <h1>Aldin Dobric</h1>
               </div>
               <div>
                  <h2 [attr.data-custom]="currentLang" class="frontend-text" [ngStyle]="{'font-size': currentLang === 'de' ? '3.438rem' : '3.625rem'}">{{langPath.landingPage.developer}}</h2>
               </div>
               <div [attr.data-custom]="currentLang" class="lets-talk">
                  <button [attr.data-custom]="currentLang" (click)="goToContact()">Let's talk!</button>
               </div>
            </div>
         </div>
      </div>
      <div class="hero-background">
         <div class="social-wrapper">
            <div>
               <div class="social-container">
                  <div class="line" [attr.data-custom]="currentLang"></div>
                  <div class="social-buttons">
                     <div class="git-wrapper">
                        <a class="git" href="https://github.com/D-Aldin" target="_blank" rel="noopener noreferrer"></a>
                     </div>
                     <div class="email-wrapper">
                        <a class="email" (click)="goToContact()"></a>
                     </div>
                     <div class="in-wrapper">
                        <a class="in" href="www.linkedin.com/in/aldin-dobric-58801936b" target="_blank" rel="noopener noreferrer"></a>
                     </div>
                  </div>
                  <a class="my-email" (click)="goToContact()" >dobricaldin&#64;gmail.com</a>
               </div>
            </div>
            <div class="scroll">
               <h3>Scroll down <b>→</b> </h3>
            </div>
         </div>
      </div>
   </div>
</section>

