<section class="hero">
   <div class="hero-content">
      <div class="hero-wrapper">
         
         <div class="hero-image-container">
            <img class="shadow-img" src="./../../assets/img/heroImages/29. photo shadows.png" alt="">
            <img class="me" src="assets/img/me3.png" alt="">
         </div>
            
         
         <div class="title-container">
            <div class="vertical-text" [ngStyle]="{'font-size': currentLang === 'de' ? '45px' : '64px'}">
               <h3>{{langPath.landingPage.me}}</h3>
            </div>
            <div class="title-text">
               <div class="name">
                  <h1>Aldin Dobric</h1>
               </div>
               <div  >
                  <h2 class="frontend-text" [ngStyle]="{'font-size': currentLang === 'de' ? '55px' : '58px'}">{{langPath.landingPage.developer}}</h2>
               </div>
               <div class="lets-talk">
                  <button (click)="goToContact()">Let's talk!</button>
               </div>
            </div>
         </div>
      </div>
      <div class="hero-background">
         <img class="hero-background-image" src="./../../assets/img/heroImages/28. Hero Background.png" alt="">
         <div class="social-wrapper">
            <div class="social-container">
               <div class="line"></div>
               <div class="social-buttons">
                  <a class="git" href="https://github.com/D-Aldin" target="_blank" rel="noopener noreferrer"></a>
                  <a class="email" (click)="goToContact()"></a>
                  <a class="in" href="www.linkedin.com/in/aldin-dobric-58801936b" target="_blank" rel="noopener noreferrer"></a>
               </div>
               <a (click)="goToContact()" >dobricaldin&#64;gmail.com</a>
            </div>
            <div class="scroll">
               <h3>Scroll down <b>→</b> </h3>
            </div>
         </div>
      </div>
   </div>
</section>
