@import "./../../../styles/variables";
@import "./../../../styles/mixins";

section {
  background-color: $background-primary-color;
  width: 100%;
}

.hero-content {
  @include flex-center($justify: flex-start);
  position: relative;
  padding-top: 130px;
}

.hero-wrapper {
  display: flex;
  margin: 0;
  gap: 100px;
}

.hero-image-container {
  margin: 0;
  position: relative;
}

.shadow-img {
  width: 790px;
  height: 790px;
}

.me {
  height: auto;
  max-height: 665px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -36.8149%);
  z-index: 1000;
}

.title-container {
  display: grid;
  grid-template-columns: 110px 630px;
  grid-template-rows: 200px 80px;
  align-items: center;
  margin: 0 0 0 140px;
  color: white;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.vertical-text {
  margin: 0;
  display: flex;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 4rem;
}

.title-text {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.name {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h1 {
    font-family: fontPoppinsBold;
    font-size: 5.625rem;
    margin: 0;
  }
}

.frontend-text {
  font-size: 3.625rem;
  color: $color-purple;
}

.lets-talk {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: 5px;

  button {
    margin-top: 40px;
    width: 165px;
    height: 58px;
    @include button-style($color-green);
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $color-purple;
      transform: scale(1.2);
    }
  }
}

.hero-background {
  position: absolute;
  top: 175px;
  width: 100%;
}

.back-test {
  position: relative;
}

.hero-background-image {
  position: absolute;
  top: 327.1px;
  left: 0;
  width: 100%;
  min-height: 880px;
  background-image: url("./../../../assets/img/heroImages/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  z-index: 1;
}

.social-container {
  display: flex;
  align-items: center;
  z-index: 999;
  margin: 0;
  z-index: 10;

  a {
    text-decoration: none;
    color: white;
    font-size: 23px;
    margin: 0px;
    width: 30px;
    height: 30px;
  }
}

.git-wrapper,
.email-wrapper,
.in-wrapper {
  display: flex;
  align-items: center;
}

.scroll {
  margin: 0;
  writing-mode: vertical-rl;
  margin-right: 120px;
  z-index: 999;

  h3 {
    color: white;
  }
}

.social-buttons {
  display: flex;
  margin: 0 45px 0 45px;
  gap: 50px;
}

.line {
  @include purple-line($width: 110px);
}

.email {
  margin: 0;
}

.social-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  position: relative;
  top: 530px;
  cursor: pointer;
  z-index: 10;
}

.git-wrapper,
.email-wrapper,
.in-wrapper {
  width: 42px;
  height: 42px;
}

.git {
  @include social-media-icon(
    30px,
    "./../../../assets/icons/social/git.png",
    "./../../../assets/icons/social/git_hover.png"
  );
}

.email {
  @include social-media-icon(
    30px,
    "./../../../assets/icons/social/email.png",
    "./../../../assets/icons/social/email_hover.png"
  );
}

.in {
  @include social-media-icon(
    30px,
    "./../../../assets/icons/social/in.png",
    "./../../../assets/icons/social/in_hover.png"
  );
}

@media only screen and (max-width: 1920px) and (min-width: 1601px) {
  .title-container {
    margin-left: 0px;
  }

  .title-text {
    padding-top: 65px;
  }

  h1 {
    font-size: 5.025rem !important;
  }

  .vertical-text {
    font-size: 3.6rem !important;
  }

  .frontend-text {
    font-size: 3.123rem !important;
  }

  .lets-talk {
    margin-right: 135px;

    button {
      width: 143px;
      height: 53px;
      font-size: 1.338rem;
    }
  }

  .social-wrapper {
    top: 461px;
  }

  // .shadow-img {
  //   bottom: -40px;
  // }
}

@media only screen and (max-width: 1600px) and (min-width: 1400px) {
  .hero-wrapper {
    gap: 75px;
  }

  .title-text {
    padding-top: 40px !important;
  }

  .title-container {
    margin: 0;
  }

  .shadow-img {
    width: 710px;
  }

  .title-text {
    padding-top: 65px;
  }

  h1 {
    font-size: 4.225rem !important;
  }

  .frontend-text {
    font-size: 2.7rem !important;
  }

  .vertical-text {
    font-size: 3.1rem !important;
    margin-bottom: 30px !important;
  }

  .lets-talk {
    margin-right: 195px;

    button {
      width: 120px;
      height: 53px;
      font-size: 1.138rem;
    }
  }

  .social-wrapper {
    top: 422px;
  }

  .shadow-img {
    bottom: 677px !important;
  }
}

@media only screen and (max-width: 1399px) and (min-width: 1200px) {
  .hero-background-image {
    top: 119px;
  }

  .hero-wrapper {
    gap: 5px;
  }

  .shadow-img {
    width: 540px;
    height: 540px;
    position: relative;
    top: -50px;
    left: 0px;
  }

  .me {
    transform: translate(-50%, -48.5821%) !important;
    width: 320px;
    height: 420px;
  }

  .title-container {
    margin: 0px !important;
    grid-template-columns: 90px 380px;
    grid-template-rows: 101px 80px;
    padding-top: 20px;
  }

  h1 {
    font-size: 3.125rem !important;
  }

  .frontend-text {
    font-size: 2.02rem !important;
  }

  .vertical-text {
    font-size: 2.3rem !important;
    margin-bottom: 6px !important;
  }

  .title-text {
    padding-top: 34px;
  }

  h3 {
    margin-block-start: 0em;
  }

  .lets-talk {
    margin-right: 10px;

    button {
      margin-top: 10px;
      width: 90px;
      height: 43px;
      font-size: 1.1rem;
    }
  }

  .social-wrapper {
    top: 230px;
  }

  .scroll {
    margin-right: 45px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1140px) {
  .hero-background-image {
    top: 80px;
  }

  .hero-wrapper {
    gap: 0px;
  }

  .hero-content {
    padding-top: 90px;
  }

  .me {
    transform: translate(-50%, -48.5821%) !important;
    width: 320px;
    height: 420px;
  }

  .shadow-img {
    width: 540px;
    height: 540px;
    position: relative;
    top: -50px;
    left: 0px;
  }

  .title-container {
    margin: 0;
    grid-template-columns: 70px 365px;
    grid-template-rows: 130px 50px;
    padding-top: 0;
  }

  .title-text {
    padding-top: 50px;
  }

  .vertical-text {
    margin: 0 !important;
  }

  h1 {
    font-size: 3.1rem !important;
  }

  h3 {
    font-size: 2.6rem;
  }

  .frontend-text {
    font-size: 2.1rem !important;
  }

  .lets-talk {
    // margin-right: 195px;

    button {
      margin-top: 10px;
      width: 90px;
      height: 43px;
      font-size: 1.1rem;
    }
  }

  .social-wrapper {
    top: 180px;
  }

  .in-wrapper {
    width: 30px;
    height: 30px;
  }

  .social-container a {
    font-size: 1.375rem;
  }

  .scroll h3 {
    font-size: 1.238rem;
  }

  h4 span {
    font-size: 0.875rem !important;
  }
}

@media only screen and (max-width: 1139px) and (min-width: 970px) {
  .hero-background-image {
    top: 80px;
  }

  .hero-wrapper {
    gap: 0px;
  }

  .hero-content {
    padding-top: 90px;
  }

  .me {
    transform: translate(-50%, -48.5821%) !important;
    width: 320px;
    height: 420px;
  }

  .shadow-img {
    width: 540px;
    height: 540px;
    position: relative;
    top: -50px;
    left: 0px;
  }

  .title-container {
    margin: 0;
    grid-template-columns: 60px 355px;
    grid-template-rows: 130px 50px;
    padding-top: 0;
    position: relative;
    left: -70px;
  }

  .title-text {
    padding-top: 50px;
  }

  .vertical-text {
    margin: 0 !important;
  }

  h1 {
    font-size: 3.1rem !important;
  }

  h3 {
    font-size: 2.6rem;
  }

  .frontend-text {
    font-size: 2.1rem !important;
  }

  .lets-talk {
    // margin-right: 195px;

    button {
      margin-top: 10px;
      width: 90px;
      height: 43px;
      font-size: 1.1rem;
    }
  }

  .social-wrapper {
    top: 172px;
  }

  .in-wrapper {
    width: 30px;
    height: 30px;
  }

  .social-container a {
    font-size: 1.375rem;
  }

  .scroll h3 {
    font-size: 1.238rem;
  }

  h4 span {
    font-size: 0.875rem !important;
  }
}

@media only screen and (max-width: 1071px) and (min-width: 970px) {
  h1 {
    font-size: 2.5rem !important;
  }

  h3 {
    font-size: 2rem;
  }
  h4 span {
    font-size: 0.875rem !important;
  }

  .frontend-text {
    font-size: 1.9rem !important;
  }

  .title-container {
    grid-template-columns: 50px 325px;
    grid-template-rows: 130px 50px;
  }
}
