@import "../../../styles/variables";
@import "./../../../styles/mixins";

section {
  //   display: flex;
  margin-top: 300px;
  color: white;
  margin-top: 140px;
}

.first-line {
  @include purple-line();
  justify-self: end;
  margin-right: 20px;
}

.secound-line {
  @include purple-line($width: 100%);
  flex-grow: 1;
  min-width: 20px !important;
  // margin-left: 20px;
  width: 100%;
  max-width: calc(100vw - 50%) !important;
}

.title-wrapper {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
}

.title-container {
  grid-column: 2;
  display: flex;
  align-items: center;

  h1 {
    margin: 0 20px 0 20px;
    font-size: 90px;
    text-align: center;
    font-size: 90px;
    font-family: fontPoppinsMedium;
    order: 2;
  }
}

.guide {
  display: flex;
  align-items: center;
  justify-content: center;

  h3 {
    font-family: fontPoppins;
    font-weight: normal;
  }
}

.shadow {
  position: relative;

  img {
    position: absolute;
    right: 100%;
    transform: translateX(100%);
    top: 806px;
  }
}

.shadow-2 {
  position: relative;

  img {
    position: absolute;
    right: 0;
    transform: translateX(0%);
    bottom: -29px;
  }
}

@media only screen and (max-width: 1920px) and (min-width: 1601px) {
  h1 {
    font-size: 5.025rem !important;
  }
}

@media only screen and (max-width: 1600px) and (min-width: 1301px) {
  h1 {
    font-size: 4.225rem !important;
  }

  .shadow img {
    width: 440px;
    height: auto;
  }
}

@media only screen and (max-width: 1300px) and (min-width: 1024px) {
  h1 {
    font-size: 3.125rem !important;
  }

  .shadow {
    position: relative;

    img {
      position: absolute;
      right: 100%;
      transform: translateX(100%);
      top: 806px;
      width: 280px;
      height: auto;
    }
  }

  .shadow-2 {
    position: relative;

    img {
      position: absolute;
      right: 0;
      transform: translateX(0%);
      bottom: -29px;
      width: 280px;
      height: auto;
    }
  }
}
