<section id="portfolio">
   <div class="title-wrapper">
      <div class="title-container">
         <div class="first-line"></div>
         <h1>Portfolio</h1>
         <div class="secound-line"></div>
      </div>
   </div>
   <div class="guide">
      <h3>{{langPath.portfolio.guide}}</h3>
   </div>
   <div class="shadow">
      <img src="./../../../assets/img/portfolio/32 Purple shadow portfolio.png" alt="">
   </div>
   @for(project of projects; track project.name; let i = $index) {
   <app-projects [project]="project" [isReversed]="i % 2 === 0"></app-projects>
   }
   <app-review></app-review>
   <div class="shadow-2">
      <img src="./../../../assets/img/portfolio/54. Green shadow 3 (skills and portfolio section).png" alt="">
   </div>
</section>