@import "../../../styles/variables";
@import "./../../../styles/mixins";

section {
  //   display: flex;
  margin-top: 300px;
  color: white;
  margin-top: 140px;
}

.shadow-wrapper {
  position: relative;
  width: 160px;
  height: 40px;

  @include respond-between(310px, 970px) {
    top: 69px;
  }
}

.shadow {
  background-image: url("./../../../assets/img/portfolio/shadow1.png");
  background-repeat: no-repeat;
  background-size: contain;

  position: relative;
  left: 120%;

  @include respond-between(670px, 970px) {
    width: 1750px;
    height: 650px;
    top: 910px;
    left: 60%;
    z-index: -1;
  }

  @include respond-between(310px, 670px) {
    width: 1750px;
    height: 300px;
    top: 1026px;
    left: 30%;
    z-index: -1;
  }
}

.first-line {
  @include purple-line();
  justify-self: end;
  margin-right: 20px;

  @include respond-between(310px, 670px) {
    width: 40%;
    margin-right: 0;
  }
}

.second-line {
  @include purple-line($width: 100%);
  flex-grow: 1;
  min-width: 20px !important;
  width: 100%;
  max-width: calc(100vw - 50%) !important;
}

.title-wrapper {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
}

.title-container {
  grid-column: 2;
  display: flex;
  align-items: center;

  h1 {
    margin: 0 20px 0 20px;
    font-size: 90px;
    text-align: center;
    font-size: 90px;
    font-family: fontPoppinsMedium;
    order: 2;
  }

  @include respond-between(1601px, 1920px) {
    h1 {
      font-size: 5.025rem !important;
    }
  }

  @include respond-between(1301px, 1600px) {
    h1 {
      font-size: 4.225rem !important;
    }
  }

  @include respond-between(1024px, 1300px) {
    h1 {
      font-size: 3.125rem !important;
    }
  }

  @include respond-between(970px, 1024px) {
    h1 {
      font-size: 3.1rem !important;
    }
  }

  @include respond-between(670px, 970px) {
    h1 {
      font-size: 2.813rem !important;
    }
  }

  @include respond-between(310px, 670px) {
    h1 {
      font-size: 2.45rem !important;
    }
  }
}

.guide {
  display: flex;
  align-items: center;
  justify-content: center;

  h3 {
    font-family: fontPoppins;
    font-weight: normal;
  }

  @include respond-between(970px, 1024px) {
    h3 {
      font-size: 0.875rem;
    }
  }

  @include respond-between(310px, 970px) {
    h3 {
      font-size: 0.9rem;
    }
  }

  @include respond-between(310px, 670px) {
    padding: 20px;
  }
}

.shadow {
  position: relative;

  img {
    position: absolute;
    right: 100%;
    transform: translateX(100%);
    top: 806px;
  }

  @include respond-between(1301px, 1600px) {
    img {
      width: 440px;
      height: auto;
    }
  }

  @include respond-between(970px, 1300px) {
    position: relative;

    img {
      position: absolute;
      right: 100%;
      transform: translateX(100%);
      top: 870px;
      width: 280px;
      height: auto;
    }
  }
}

.shadow-2 {
  position: relative;

  img {
    position: absolute;
    right: 0;
    transform: translateX(0%);
    bottom: -29px;
  }

  @include respond-between(1024px, 1300px) {
    position: relative;

    img {
      position: absolute;
      right: 0;
      transform: translateX(0%);
      bottom: -29px;
      width: 280px;
      height: auto;
    }
  }

  @include respond-between(670px, 970px) {
    bottom: 281px;

    img {
      width: 220px;
      height: auto;
    }
  }

  @include respond-between(310px, 670px) {
    bottom: 281px;

    img {
      width: 220px;
      height: auto;
    }
  }
}
