<section id="portfolio">
   <div class="title-wrapper">
      <div class="first-line"></div>
      <div class="title-container">
         
         <h1>Portfolio</h1>
         <!-- <div class="testtest"></div> -->
         
      </div>
      <div>
         <div class="second-line"></div>

      </div>
      
   </div>
   
   <div class="guide">
      <h3>{{langPath.portfolio.guide}}</h3>
   </div>
   <div class="shadow-wrapper">
      <div class="shadow"></div>
   </div>

   
   @for(project of projects; track project.name; let i = $index) {
   <app-projects [project]="project" [isReversed]="i % 2 === 0"></app-projects>
   }
   <app-review></app-review>
   <div class="shadow-2">
      <img src="./../../../assets/img/portfolio/shadow2.png" alt="">
   </div>
</section>