@import "../../../styles/variables";
@import "./../../../styles/mixins";

section {
  margin-top: 90px;
  padding: 50px 0 0 100px;
  color: white;
  scroll-margin-top: 300px;
}

.my-skills-container {
  @include flex-center();
  gap: 300px;
}

.my-skills {
  text-align: right;

  h3 {
    font-family: fontPoppins;
    font-weight: normal;
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: flex-end;
  h1 {
    font-size: 90px;
    font-family: fontPoppinsMedium;
    margin-right: 0;
  }
}

.line-container {
  position: absolute;
  right: 0;
}

.line {
  @include purple-line($width: 70px, $margin: 0);
}

.text-container {
  padding-right: 100px;
}

.another-skill {
  margin-bottom: 40px;

  h2 {
    margin: 20px 0 20px 0;
  }

  h2,
  span {
    font-size: 32px;
    font-family: fontPoppinsMedium;
  }

  span {
    color: $color-purple;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.icon-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  z-index: 99999;

  img {
    margin-bottom: 12px;
  }
}

.icons {
  transition: transform 0.3s ease;
  &:hover {
    transform: translateY(-10px);
  }
}

.bubble-container {
  position: relative;

  .interest {
    padding: 30px;
    transform: translateY(-9px);
    background-image: url("./../../../assets/icons/my-skills/interest.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 140px;
    height: 175px;

    &:hover + .bubble {
      opacity: 1;
      visibility: visible;
      transform: translateY(-10px);
    }

    &:hover {
      background-image: url("./../../../assets/icons/my-skills/interest-white.png");
    }
  }

  .bubble {
    position: absolute;
    bottom: 135px;
    left: 32px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s ease, transform 0.4s ease;
    transform: translateY(0);
  }
}

button {
  width: 200px;
  height: 58px;
  @include button-style($color-green);
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $color-purple;
    transform: scale(1.2);
  }
}

.shadow-image {
  position: relative;

  img {
    position: absolute;
    right: 100%;
    transform: translateX(69%);
    top: -318px;
  }
}

@media only screen and (max-width: 1920px) and (min-width: 1601px) {
  h1 {
    font-size: 5.025rem;
  }

  .my-skills-container {
    gap: 120px;
  }
}

@media only screen and (max-width: 1600px) and (min-width: 1301px) {
  section {
    padding: 50px 0 0 70px;
    margin-top: 80px;
  }

  h1 {
    font-size: 4.225rem !important;
  }

  h3 {
    font-size: 1rem;
  }

  .my-skills-container {
    gap: 50px;
  }

  .icon-container {
    padding: 25px;
  }
}
