@import "../../../styles/variables";
@import "./../../../styles/mixins";

section {
  margin-top: 90px;
  padding: 50px 0 0 100px;
  color: white;
  scroll-margin-top: 300px;
}

@for $i from 0 through 10 {
  .icon-#{$i} {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.my-skills-container {
  @include flex-center();
  gap: 300px;
}

.my-skills {
  text-align: right;

  h3 {
    font-family: fontPoppins;
    font-weight: normal;
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: flex-end;
  h1 {
    font-size: 90px;
    font-family: fontPoppinsMedium;
    margin-right: 0;
  }
}

.line-container {
  position: absolute;
  right: 0;
}

.line {
  @include purple-line($width: 70px, $margin: 0);
}

.text-container {
  padding-right: 100px;
}

.another-skill {
  margin-bottom: 40px;

  h2 {
    margin: 20px 0 20px 0;
  }

  h2,
  span {
    font-size: 32px;
    font-family: fontPoppinsMedium;
  }

  span {
    color: $color-purple;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.icon-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  z-index: 99999;

  img {
    margin-bottom: 12px;
  }
}

.icons {
  transition: transform 0.3s ease;
  &:hover {
    transform: translateY(-10px);
  }
}

.bubble-container {
  position: relative;

  .interest {
    padding: 30px;
    transform: translateY(-9px);
    background-image: url("./../../../assets/icons/my-skills/interest.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 140px;
    height: 175px;

    &:hover + .bubble {
      opacity: 1;
      visibility: visible;
      transform: translateY(-10px);
    }

    &:hover {
      background-image: url("./../../../assets/icons/my-skills/interest-white.png");
    }
  }

  .bubble {
    position: absolute;
    bottom: 135px;
    left: 32px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s ease, transform 0.4s ease;
    transform: translateY(0);
  }
}

button {
  width: 200px;
  height: 58px;
  @include button-style($color-green);
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $color-purple;
    transform: scale(1.2);
  }
}

.shadow-image {
  position: relative;

  img {
    position: absolute;
    right: 100%;
    transform: translateX(69%);
    top: -318px;
  }
}

@media only screen and (max-width: 1920px) and (min-width: 1601px) {
  h1 {
    font-size: 5.025rem;
  }

  .my-skills-container {
    gap: 120px;
  }
}

@media only screen and (max-width: 1600px) and (min-width: 1301px) {
  section {
    padding: 50px 0 0 70px;
    margin-top: 80px;
  }

  h1 {
    font-size: 4.225rem !important;
  }

  h3 {
    font-size: 1rem;
  }

  .my-skills-container {
    gap: 50px;
  }

  .icon-container {
    padding: 25px;
  }
}

@media only screen and (max-width: 1300px) and (min-width: 1024px) {
  section {
    padding: 50px 0 0 50px;
    margin-top: 80px;
  }

  h1 {
    font-size: 3.125rem !important;
  }

  h3 {
    font-size: 0.875rem;
  }

  h2,
  span {
    font-size: 1.65rem !important;
  }

  .my-skills-container {
    gap: 50px;
  }

  .icon-container {
    padding: 20px;

    // img {
    //   width: 50px;
    //   height: 20px;
    // }
  }
}
@media only screen and (max-width: 1024px) and (min-width: 970px) {
  section {
    padding: 50px 0 0 50px;
    margin-top: 80px;
  }

  .my-skills-container {
    gap: 50px;
  }

  h1 {
    font-size: 3.1rem !important;
  }

  h3 {
    font-size: 0.875rem;
  }

  .icon-container {
    padding: 20px;
  }

  .icons {
    width: 52px;
    height: auto;
  }

  .another-skill {
    font-size: 1.563rem;
  }

  .line {
    width: 50px;
  }

  .text-container {
    padding-right: 80px;
  }
}

@media only screen and (max-width: 970px) and (min-width: 670px) {
  section {
    padding: 10px 0 0 20px;
    margin-top: 80px;
  }

  h1 {
    font-size: 2.813rem !important;
  }

  h3 {
    font-size: 1rem;
  }

  .my-skills-container {
    flex-direction: column-reverse;
    gap: 50px;
  }

  .stack {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-view {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 20px;

    div {
      padding: 30px;
    }

    .bubble-container {
      padding: 0;
    }
  }

  .grid-container > :nth-last-child(-n + 1) {
    display: none;
  }

  .shadow-image img {
    top: -699px !important;
    width: 260px;
    height: auto;
  }
}

@media only screen and (max-width: 670px) and (min-width: 310px) {
  section {
    padding: 10px 0 0 20px;
    margin-top: 80px;
  }

  h1 {
    font-size: 2.45rem !important;
  }

  h3 {
    font-size: 1rem;
  }

  .my-skills-container {
    flex-direction: column-reverse;
    gap: 50px;
  }

  .stack {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .mobile-view {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 20px;

    div {
      padding: 30px;
    }

    .bubble-container {
      padding: 0;
    }
  }

  .grid-container > :nth-last-child(-n + 1) {
    display: none;
  }

  .shadow-image img {
    top: -699px !important;
    width: 228px;
    height: auto;
  }

  .icons {
    width: 30px;
    height: auto;
  }

  .icon-container {
    padding: 10px;
  }

  .interest {
    padding: 10px !important;
    background-size: 60px auto;
    width: 128px !important;
    height: 75px !important;
  }

  .another-skill {
    padding: 20px;
    h2,
    span {
      font-size: 1.5rem;
    }
  }

  .line {
    width: 35px;
  }

  .icon-10 {
    padding: 10px;
  }

  .tech-experience {
    padding: 20px;
  }
}
