<section>
   <div class="my-skills-container">
      <div class="stack">
         <div class="grid-container">
            <div *ngFor="let icon of skillsIcons">
               <img [src]="icon" [alt]="icon">
            </div>
         </div>
      </div>
      <div class="my-skills">
         <div class="title">
            <h1>{{langPath.skills.title}}</h1>
            <div class="line"></div>
         </div>
        
         <div class="text-container">
       
            <div class="tech-experience">
               <h3>{{langPath.skills.descriptionExperience}}</h3>
            </div>
            <div class="another-skill">
               <h2>{{langPath.skills.lookingFor}} <span>{{langPath.skills.anotherSkill}}</span>?</h2>
               <h3>{{langPath.skills.descriptionAnother}}</h3>
            </div>
            <div class="button-container">
               <button>Get in touch</button>
            </div>
         </div>
      </div>
      
   </div>
   <div class="shadow-image">
      <img src="./../../../assets/icons/my-skills/31. Green shadow Skills Portfolio.png" alt="">

   </div>
   
</section>