<section>
    <div class="my-skills-container">
        <div class="stack">
            <div class="grid-container">
               <div *ngFor="let icon of skillsIcons">
                <img [src]="icon" [alt]="icon">
               </div>
            </div>
        </div>
        <div class="my-skills">
            <div class="title">
                <h1>My skills</h1>
                <div class="line"></div>
            </div>
            <div class="tech-experience">
                <span>
                    I've built several front-end projects using different tools. In my Join Kanban app, I worked with HTML, CSS, JavaScript, and Firebase. I created a Valkyrie game using OOP in JavaScript, and built Pokémon Desk with a REST API. I also enjoy working with TypeScript, Angular, Material Design, and using Git in Scrum-based teams.
                </span>
            </div>

            
            
            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis doloremque illum perferendis tenetur suscipit quae fugit cum ea asperiores, harum nemo recusandae aliquid sed adipisci dicta reprehenderit fugiat sit eius.</span>
        </div>
    </div>
</section>
