@import "../../../styles/variables";
@import "./../../../styles/mixins";

section {
  margin-top: 200px;

  @include respond-between(310px, 670px) {
    margin-top: 80px;
  }
}

.title {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: white;

  .line {
    @include purple-line($width: 39%);
    @include glow-effect($color-purple, 10px, 20px, 30px);
    position: absolute;
    left: 0;
  }

  h1 {
    font-size: 90px;
    font-family: fontPoppinsMedium;
    order: 2;
  }

  @include respond-between(1921px, 3500px) {
    .line {
      width: 100vw !important;
      margin-left: calc(-100vw + 36%) !important;
    }
  }

  @include respond-between(1601px, 1920px) {
    .line {
      width: 35% !important;
    }
  }

  @include respond-between(1301px, 1600px) {
    .line {
      width: 30% !important;
    }
  }

  @include respond-between(1024px, 1300px) {
    h1 {
      font-size: 3.125rem !important;
    }

    .line {
      width: 35% !important;
    }
  }

  @include respond-between(970px, 1024px) {
    h1 {
      font-size: 3.1rem !important;
    }

    .line {
      width: 35% !important;
    }
  }

  @include respond-between(670px, 970px) {
    h1 {
      font-size: 2.813rem !important;
    }

    .line {
      width: 35% !important;
    }
  }

  @include respond-between(310px, 670px) {
    h1 {
      font-size: 2.45rem !important;
    }

    .line {
      width: 20% !important;
    }
  }
}

.content-wrapper {
  padding: 100px 200px 100px 200px;
  gap: 170px;
  display: flex;
  justify-content: space-between;

  @include respond-between(1601px, 1920px) {
    padding: 100px 100px 100px 100px;
    gap: 90px;
  }

  @include respond-between(1301px, 1600px) {
    padding: 100px 70px 100px 70px;
    gap: 60px;
  }

  @include respond-between(970px, 1300px) {
    padding: 90px 50px 90px 50px;
    gap: 50px;
  }

  @include respond-between(310px, 970px) {
    padding: 90px 30px 90px 30px;
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.text {
  color: white;
  position: relative;
  z-index: 9999;

  h2 {
    font-family: fontPoppinsMedium;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  h3 {
    font-weight: normal;
    margin-bottom: 20px;
  }

  @include respond-between(1024px, 1300px) {
    h2 {
      font-size: 1.7rem !important;
    }
  }

  @include respond-between(970px, 1024px) {
    h3 {
      font-size: 0.875rem !important;
    }
  }

  @include respond-between(670px, 970px) {
    h3 {
      font-size: 0.875rem !important;
    }
  }
}

.shadow {
  position: relative;

  img {
    position: absolute;
    right: 100%;
    transform: translateX(60%) translateY(80%);
    bottom: 114px;
    z-index: 1;
  }

  @include respond-between(670px, 970px) {
    img {
      width: 290px;
      height: auto;
    }
  }

  @include respond-between(310px, 670px) {
    img {
      width: 240px;
      height: auto;
      bottom: 60px;
    }
  }
}

.go-back-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 100px;
  padding-right: 120px;

  @include respond-between(310px, 670px) {
    padding: 30px 20px 0 0;
  }
}

.go-back {
  width: 30px;
  height: 30px;
  background-image: url("./../../../assets/icons/contact/up.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 9999;
  display: flex;
  cursor: pointer;

  &:hover {
    background-image: url("./../../../assets/icons/contact/up-hover.png");
  }
}
