<section>
   <div class="title">
      <div class="line"></div>
      <h1>Contact</h1>
   </div>
   <div class="content-wrapper">
      <div class="content">
         <div class="text">
            <h2>Got a problem to slove?</h2>
            <h3>If you're looking for a passionate and reliable front-end developer to bring your ideas to life, feel free to reach out! I'm always open to new opportunities, collaborations, or just a good conversation about building great digital experiences. Let’s connect and create something meaningful together!</h3>
            <br>
            <h3>
               I'm a front-end developer with a strong focus on creating user-friendly, responsive, and visually engaging web interfaces. I'm particularly interested in roles where I can work closely with design and backend teams to build seamless user experiences.
               I bring value to your project by combining clean, maintainable code with a deep understanding of UI/UX principles. I care about performance, accessibility, and making sure the final product not only works great but also feels intuitive to your users. Whether it's optimizing load times, improving mobile responsiveness, or turning complex features into smooth interactions—I make sure your vision becomes reality.
               Let’s build something exceptional together!
            </h3>
         </div>
         
      </div>
      <app-contact-form />
   </div>
       <!-- <div class="shadow-container">
        <div class="shadow-image">
            <img src="./../../../assets/img/footer/33. Purple shadow Footer.png" alt="">
        </div> 
    </div> -->
</section>