<section id="contact">
   <div class="title">
      <div class="line"></div>
      <h1>Contact</h1>
   </div>
   <div class="content-wrapper">
      <div class="content">
         <div class="text">
            <h2>{{langPath.contact.title}}</h2>
            <h3>{{langPath.contact.content}}</h3>
            <br>
            <h3>{{langPath.contact.contactMe}}</h3>
         </div>
      </div>
      <app-contact-form />
   </div>
   <div class="shadow">
      <img src="./../../../assets/img/footer/footer-shadow-01.png" alt="">
   </div>
   <div class="go-back-wrapper">
      <a  class="go-back" href="#landingPage"></a>
   </div>
</section>