@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.content-wrapper {
  display: flex;
  align-items: center;
  padding: 0 300px 0 300px;
  z-index: 999;
  gap: 280px;
}

.image-container {
  display: flex;

  img {
    display: flex;
    width: 500px;
    height: 500px;
    z-index: 999;
  }
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  font-size: 32px;
  font-family: fontPoppinsBold;
  color: $color-purple;
}

.tech {
  display: flex;
  align-items: center;

  h4,
  span {
    margin: 0;
    font-size: 23px;
    font-weight: normal;
    color: $color-green;
    white-space: pre-wrap;
  }
}

.description {
  h5 {
    font-size: 16px;
    font-weight: normal;
    // width: 60%;
  }
}

.buttons-container {
  .test-btn,
  .git-btn {
    height: 58px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    @include button-style($color-purple);

    &:hover {
      background-color: $color-green;
    }
  }

  .test-btn {
    margin: 30px 30px 30px 0;
    width: 152px;
  }

  .git-btn {
    width: 137px;
    border: 1px solid $color-green !important;
    @include button-style(transparent);
  }
}

@media only screen and (max-width: 1920px) and (min-width: 1601px) {
  .content-wrapper {
    gap: 240px;
    padding: 0 100px 0 100px;
  }
}

@media only screen and (max-width: 1600px) and (min-width: 1301px) {
  .content-wrapper {
    gap: 70px;
    padding: 0 70px 0 70px;
  }

  .image-container img {
    width: 400px;
    height: 400px;
  }
}

@media only screen and (max-width: 1300px) and (min-width: 1024px) {
  .content-wrapper {
    gap: 60px;
    padding: 0 50px 0 50px;
  }

  .image-container img {
    width: 350px;
    height: 350px;
  }

  h3 {
    font-size: 2rem !important;
  }

  .tech h4 {
    font-size: 1.125rem !important;
  }

  .description h5 {
    font-size: 0.875rem !important;
  }

  .buttons-container {
    // height: 50px;

    .test-btn,
    .git-btn {
      margin: 25px 25px 25px 0;
      width: 115.5px;
      font-size: 1.2rem !important;
    }
  }
}
