@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.content-wrapper {
  display: flex;
  align-items: center;
  padding: 0 300px 0 300px;
  z-index: 999;
  gap: 280px;

  @include respond-between(1601px, 1920px) {
    gap: 240px;
    padding: 0 100px 0 100px;
  }

  @include respond-between(1301px, 1600px) {
    gap: 70px;
    padding: 0 70px 0 70px;
  }

  @include respond-between(970px, 1300px) {
    gap: 60px;
    padding: 0 50px 0 50px;
  }

  @include respond-between(670px, 970px) {
    gap: 5px;
    padding: 0 30px 50px 30px;
    display: flex;
    flex-direction: column !important;
  }

  @include respond-between(310px, 670px) {
    gap: 5px;
    padding: 0 25px 50px 25px;
    display: flex;
    flex-direction: column !important;
  }
}

.image-container {
  display: flex;

  img {
    display: flex;
    width: 500px;
    height: 500px;
    z-index: 999;
  }

  @include respond-between(1301px, 1600px) {
    width: 400px;
    height: 400px;
  }

  @include respond-between(1024px, 1300px) {
    img {
      width: 350px;
      height: 350px;
    }
  }
  @include respond-between(970px, 1024px) {
    img {
      width: 300px;
      height: 300px;
    }
  }

  @include respond-between(310px, 970px) {
    img {
      width: 250px;
      height: 250px;
    }
  }
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include respond-between(310px, 970px) {
    @include flex-setup();
  }
}

.title {
  font-size: 32px;
  font-family: fontPoppinsBold;
  color: $color-purple;
}

.tech {
  display: flex;
  align-items: center;
  gap: 10px;

  h4,
  span {
    margin: 0;
    font-size: 23px;
    font-weight: normal;
    color: $color-green;
    display: flex;
  }

  @include respond-between(1024px, 1300px) {
    h4 {
      font-size: 2rem !important;
    }
  }

  @include respond-between(970px, 1024px) {
    h4 {
      font-size: 1.125rem !important;
    }
  }

  @include respond-between(670px, 970px) {
    h4 {
      font-size: 1.125rem !important;
    }
  }

  @include respond-between(310px, 670px) {
    font-size: 0.825rem !important;
    gap: 5px;

    h4,
    span {
      font-size: 18.4px;
    }
  }
}

.description {
  h5 {
    font-size: 16px;
    font-weight: normal;
  }

  @include respond-between(1024px, 1300px) {
    h5 {
      font-size: 0.875rem !important;
    }
  }
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;

  .test-btn,
  .git-btn {
    height: 58px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    @include button-style($color-purple);

    &:hover {
      background-color: $color-green;
      transform: scale(1.2);
      box-shadow: 0 0 8px 3px rgba($color-green, 0.6);
    }

    @include respond-between(1024px, 1300px) {
      margin: 25px 25px 25px 0;
      width: 115.5px;
      font-size: 1.2rem !important;
    }

    @include respond-between(970px, 1024px) {
      margin: 25px 25px 25px 0;
      width: 100.7px;
      font-size: 1.1rem !important;
      height: 48px;
    }

    @include respond-between(310px, 970px) {
      margin: 25px 25px 25px 0;
      width: 100.7px;
      font-size: 1.1rem !important;
      height: 48px;
    }
  }

  .test-btn {
    margin: 30px 30px 30px 0;
    width: 152px;

    // Optionally override styles in small viewports
    @include respond-between(970px, 1300px) {
      width: 115.5px;
      margin: 25px 25px 25px 0;
    }

    @include respond-between(310px, 970px) {
      width: 100.7px;
    }
  }

  .git-btn {
    width: 137px;
    border: 1px solid $color-green !important;
    @include button-style(transparent);

    @include respond-between(970px, 1300px) {
      width: 115.5px;
      margin: 25px 25px 25px 0;
    }

    @include respond-between(310px, 970px) {
      width: 100.7px;
    }
  }
}

h3 {
  @include respond-between(1024px, 1300px) {
    font-size: 2rem !important;
  }

  @include respond-between(970px, 1024px) {
    font-size: 2rem !important;
  }

  @include respond-between(310px, 970px) {
    font-size: 2rem !important;
  }
}
