<div class="content-wrapper" [style.flex-direction]="isReversed ? 'row' : 'row-reverse'">
   <div class="image-container" >
      <img [src]="imagePath" [alt]="project.name">
   </div>
   <div class="text-wrapper">
      <div class="title" [ngStyle]="{justifyContent: isReversed ? 'flex-start' : 'flex-end', display: 'flex'}">
         <h3>{{project.name}}</h3>
      </div>
      <div class="tech" [style.justify-content]="isReversed? 'flex-start' : 'flex-end'">
         <ng-container *ngFor="let tech of project.technology; let i = index">
            <h4>{{ tech }}</h4>
            <span *ngIf="i < project.technology.length - 1"> | </span>
         </ng-container>
      </div>
      <div class="description" [style.text-align]="isReversed ? 'left' : 'right'">
         @if(this.currentLanguage === "en") {
         <h5>{{project.englishDescription}}</h5>
         } @else if(this.currentLanguage === "de") {
         <h5>{{project.germanDescription}}</h5> 
         } @else {
         <h5>{{project.bosnianDescription}}</h5>
         }
      </div>
      <div class="buttons-container" [ngStyle]="{justifyContent: isReversed ? 'flex-start' : 'flex-end', alignItems: 'center', display: 'flex'}">
         <a [href]="project.pageLink" class="test-btn" target="_blank" rel="noopener noreferrer">Live test</a>
         <a class="git-btn" target="_blank" rel="noopener noreferrer" href="https://github.com/D-Aldin">Github</a>
      </div>
   </div>
</div>