@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.content-wrapper {
  display: flex;
  align-items: center;
  padding: 0 300px 0 300px;
  z-index: 999;
  gap: 320px;
}

.image-container {
  display: flex;

  img {
    display: flex;
    width: 500px;
    height: 500px;
    z-index: 999;
  }
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  font-size: 32px;
  font-family: fontPoppinsBold;
  color: $color-purple;
}

.tech {
  display: flex;
  align-items: center;

  h4,
  span {
    margin: 0;
    font-size: 23px;
    font-weight: normal;
    color: $color-green;
    white-space: pre-wrap;
  }
}

.description {
  h5 {
    font-size: 16px;
    font-weight: normal;
    // width: 60%;
  }
}

.buttons-container {
  .test-btn,
  .git-btn {
    height: 58px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    @include button-style($color-purple);

    &:hover {
      background-color: $color-green;
    }
  }

  .test-btn {
    margin: 30px 30px 30px 0;
    width: 152px;
  }

  .git-btn {
    width: 137px;
    border: 1px solid $color-green !important;
    @include button-style(transparent);
  }
}
