

<div class="topnav">
  <a href="index.html" class="active">
    <img src="../../../../assets/icons/logo.png">
  </a>

  <a class="icon" (click)="toogleMenuBurger()" [ngStyle]="{
  'background-image': 'url(' + 
    (isOpen ? './../../../assets/icons/burger-menu/close2.png' : 
              './../../../assets/icons/burger-menu/bar.png') + ')'
}">
    <i class="fa fa-bars"></i>
  </a>
</div>
  <div #myLinks class="open-menu" [ngClass]="{'close-menu': !isOpen, 'opem-menu': isOpen}" >
    <a (click)="navigateToSection('about-me')" >About me</a>
    <a  (click)="navigateToSection('skills')">My skills</a>
    <a (click)="navigateToSection('portfolio')">Portfolio</a>
    <a (click)="navigateToSection('contact')">Contact</a>
  </div>