

<div class="topnav">
  <a href="index.html" class="active">
    <img src="../../../../assets/icons/logo.png">
  </a>

  <a class="icon" (click)="toogleMenuBurger()" [ngStyle]="{
  'background-image': 'url(' + 
    (isOpen ? './../../../assets/icons/burger-menu/close2.png' : 
              './../../../assets/icons/burger-menu/bar.png') + ')'
}">
    <i class="fa fa-bars"></i>
  </a>
</div>
  <div #myLinks class="open-menu" [ngClass]="{'close-menu': !isOpen, 'opem-menu': isOpen}" >
    <a (click)="navigateToSection('about-me')" >{{langPath.header.links[0]}}</a>
    <a (click)="navigateToSection('skills')">{{langPath.header.links[1]}}</a>
    <a (click)="navigateToSection('portfolio')">{{langPath.header.links[2]}}</a>
    <a (click)="navigateToSection('contact')">Contact</a>
     
    <div class="lang">
      <a (click)="switchLang('en')">EN / </a>
      <a (click)="switchLang('de')">DE</a>
    </div>
  </div>
  