@import "./../../../../styles/variables";
@import "./../../../../styles/mixins";

.no-scroll {
  overflow: hidden !important;
  height: 100vh !important;
}

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: $background-primary-color;
  height: 500px;
  color: rgb(231, 6, 6);
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: $background-primary-color;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 120px;
    height: auto;
  }
}

.open-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); // semi-transparent background
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    font-size: 24px;
  }
}

.close-menu {
  display: none;
}

.topnav a {
  color: rgb(184, 11, 11);
  padding: 14px 50px;
  text-decoration: none;
  font-size: 17px;
  //   display: block;
  display: flex;
  align-items: center;
}

.topnav a.icon {
  width: 65px;
  height: 65px;
  background: transparent;
  background-image: url("./../../../../assets/icons/burger-menu/bar.png");
  background-repeat: no-repeat;
  background-size: 60px 60px;
  display: block;
}

.topnav a:hover {
  background-color: transparent;
  //   color: black;
}

.active {
  background-color: $background-primary-color;
  color: rgb(201, 8, 8);
  height: 109px;
}
