@import "./../../../../styles/variables";
@import "./../../../../styles/mixins";

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: $background-primary-color;
  height: 500px;
  color: rgb(231, 6, 6);
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: $background-primary-color;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 120px;
    height: auto;
  }

  @include iphone4-portrait() {
    height: 60px;
  }

  img {
    width: 80px;
  }
}

.open-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(19, 28, 45, 0.74);
  z-index: 10;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    font-size: 2.5rem;
    position: relative;
    top: 30%;
    cursor: pointer;
    @include link-underline($color-green);

    &:hover {
      color: $color-green;
    }
  }
}

.open-menu.opem-menu {
  transform: translateX(0);
}

.open-menu.close-menu {
  transform: translateX(100%);
}

.close-menu {
  display: none;
}

.topnav a {
  color: rgb(184, 11, 11);
  padding: 14px 50px;
  text-decoration: none;
  font-size: 17px;
  display: flex;
  align-items: center;

  @include iphone4-portrait() {
    padding: 8px 30px;
  }
}

.topnav a.icon {
  width: 65px;
  height: 65px;
  display: block;

  @include iphone4-portrait() {
    width: 35px;
    height: 35px;
  }
}

.icon {
  background: transparent;
  background-image: url("./../../../../assets/icons/burger-menu/bar.png");
  background-repeat: no-repeat;
  background-size: 60px 60px;
  z-index: 9999;
  cursor: pointer;
  transition: filter 0.3s ease, transform 0.3s ease;

  &:hover {
    filter: brightness(1.3) drop-shadow(0 0 2px rgb(18, 116, 18))
      drop-shadow(0 0 10px $color-purple);
    transform: scale(1.05);
  }

  @include iphone4-portrait() {
    background-size: 40px 40px;
  }
}

.topnav a:hover {
  background-color: transparent;
}

.active {
  background-color: $background-primary-color;
  color: rgb(201, 8, 8);
  height: 109px;
}

.lang {
  display: flex;
  gap: 10px;
  position: relative;
  top: 31%;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;

  h4 {
    margin-block-end: 0em;
    margin-block-start: 2.03em;
  }
}

@media only screen and (max-width: 670px) and (min-width: 310px) {
  .open-menu {
    a {
      font-size: 1.438rem;
    }
  }
}
