.about-me-container {
  display: flex;
  z-index: 1001;
}

.page-wrapper {
  position: relative;
  max-width: 1920px;
  // overflow-y: hidden;
}

app-header {
  position: sticky;
  top: 0;
  background: white;
  width: 100%;
  z-index: 1000000;
  display: block;
}

@media only screen and (max-width: 970px) and (min-width: 670px) {
  .page-wrapper {
    overflow-y: hidden;
  }
}

@media only screen and (max-width: 1920px) and (min-width: 310px) {
  .page-wrapper {
    overflow: hidden;
  }
}
