@import "./../../../../styles/variables";
@import "./../../../../styles/mixins";

input[type="text"],
select,
textarea {
  width: 620px;
  height: 50px;
  padding: 12px 7px 7px 12px;
  border: 1px solid $color-purple;
  border-radius: 12px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 20px;
  resize: vertical;
  background-color: transparent;
  color: white;
  font-family: fontPoppins;
  padding-left: 12px;

  &::placeholder {
    color: white;
    font-family: fontPoppins;
    padding-left: 12px;
  }

  &:hover {
    border-color: $color-green;
    @include glow-effect($color-green, 10px, 20px, 9px);
  }

  &:focus {
    border-color: $color-green;
    outline: none;
    background-color: transparent !important;
  }

  &.wrong-input:hover {
    border-color: rgb(230, 28, 64);

    @include glow-effect(rgb(230, 28, 64), 10px, 20px, 9px);
  }
}

input[type="text"][data-custom="de"],
select[data-custom="de"],
textarea[data-custom="de"] {
  border: 1px solid $color-orange;

  &:hover {
    border-color: $color-orange;
    @include glow-effect($color-red, 10px, 20px, 9px);
  }

  &:focus {
    border-color: $color-orange;
  }

  &.wrong-input:hover {
    border-color: rgb(230, 28, 64);
    @include glow-effect(rgb(230, 28, 64), 10px, 20px, 9px);
  }

  &.success-icon:hover {
    border-color: rgb(0, 255, 55);
    @include glow-effect(rgb(0, 255, 42), 10px, 20px, 9px);
  }
}

input[type="checkbox"] {
  background-image: url("./../../../../assets/icons/contact/default.png");
  width: 34px;
  height: 34px;
  -webkit-appearance: none;
  background-position: center;
  background-repeat: no-repeat;

  &:hover {
    background-image: url("./../../../../assets/icons/contact/default\ -hover.png");
  }

  &:checked {
    background-image: url("./../../../../assets/icons/contact/checked.png");

    &:hover {
      background-image: url("./../../../../assets/icons/contact/checked-hover.png");
    }
  }
}

input[type="checkbox"][data-custom="de"] {
  background-image: url("./../../../../assets/icons/contact/default1-de.png");

  &:hover {
    background-image: url("./../../../../assets/icons/contact/default\ -hover1-de.png");
  }

  &:checked {
    background-image: url("./../../../../assets/icons/contact/checked1-de.png");

    &:hover {
      background-image: url("./../../../../assets/icons/contact/checked-hover1-de.png");
    }
  }
}

.policy-link {
  text-decoration: none;
  color: $color-purple;
}

.policy-link[data-custom="de"] {
  color: $color-red;
}

input[type="submit"] {
  width: 253px;
  height: 58px;
  background-color: rgb(182, 182, 182);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 12px;
  font-size: 23px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: transparent;
  padding: 20px;
}

label {
  color: white;
}

.checkbox {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 35px;

  label {
    font-size: 14px;
    margin-left: 12px;

    span {
      color: $color-purple;
    }
  }
}

h4 {
  color: white;

  span {
    color: $color-purple;
  }
}

.submit-btn {
  align-items: center;
  justify-content: center;
  display: flex;
}

.isChecked {
  background-color: $color-green !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px rgb(19, 28, 46) inset !important;
  -webkit-text-fill-color: white !important;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  box-shadow: 0 0 0 1000px rgb(19, 28, 46) inset !important;
  color: white !important;
}

.wrong-input {
  border-color: rgb(230, 28, 64) !important;
  color: rgb(230, 28, 64);
  font-size: 14px;
  margin-bottom: 5px !important;

  h6 {
    color: rgb(230, 28, 64);
    background-image: none;
  }
}

.error-icon {
  background-image: url("./../../../../assets/icons/contact/wrong.png");
  background-repeat: no-repeat;
  background-position: top;
  background-position-x: calc(100% - 20px);
  background-position-y: 10px;
}

.success-icon {
  background-image: url("./../../../../assets/icons/contact/done.png");
  background-repeat: no-repeat;
  background-position: top;
  background-position-x: calc(100% - 20px);
  background-position-y: 10px;
  border-color: $color-green !important;

  &:hover {
    border-color: rgb(0, 255, 55) !important;
    @include glow-effect(rgb(0, 255, 42), 10px, 20px, 9px);
  }
}

.success-icon[data-custom="de"] {
  background-image: url("./../../../../assets/icons/contact/done.png");
  background-repeat: no-repeat;
  background-position: top;
  background-position-x: calc(100% - 20px);
  background-position-y: 10px;
  border-color: $color-green !important;

  &:hover {
    border-color: rgb(0, 255, 55) !important;
    @include glow-effect(rgb(0, 255, 42), 10px, 20px, 9px);
  }
}

textarea {
  resize: none;
  background-image: url("./../../../../assets/icons/contact/resize.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 100%;
  background-origin: content-box;

  &::-webkit-scrollbar {
    width: 0.15em;
    height: 1em;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgb(97, 97, 97);
    border-radius: 13px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-green;
    outline: 0.11rem solid $color-green;
    border-radius: 13px;
  }
}

textarea[data-custom="de"] {
  resize: none;
  background-image: url("./../../../../assets/icons/contact/resize1-de.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 100%;
  background-origin: content-box;

  &::-webkit-scrollbar {
    width: 0.15em;
    height: 1em;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgb(97, 97, 97);
    border-radius: 13px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-green;
    outline: 0.11rem solid $color-green;
    border-radius: 13px;
  }
}

.feedback-wrapper {
  width: 100%;
  height: 15px;
  margin-bottom: 40px;
}

.success-msg {
  color: green;
  margin-top: 10px;
  font-weight: bold;
  display: flex;
}

.error-msg {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}

@media only screen and (max-width: 1600px) and (min-width: 1301px) {
  input[type="text"],
  textarea,
  select {
    width: 400px !important;
  }

  .checkbox label {
    font-size: 0.75rem;
  }

  input[type="submit"] {
    width: 206px;
    height: 48px;
    font-size: 1.313rem;
  }
}

@media only screen and (max-width: 1300px) and (min-width: 1024px) {
  input[type="text"],
  textarea,
  select {
    width: 340px !important;
  }

  .checkbox label {
    font-size: 0.75rem;
  }

  input[type="submit"] {
    width: 180px;
    height: 48px;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  input[type="text"],
  textarea,
  select {
    width: 340px !important;
  }

  .checkbox label {
    font-size: 1rem;
  }

  input[type="submit"] {
    width: 180px;
    height: 48px;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 970px) and (min-width: 670px) {
  input[type="text"],
  textarea,
  select {
    width: 500px !important;
  }

  .checkbox label {
    font-size: 1rem;
  }

  input[type="submit"] {
    width: 180px;
    height: 48px;
    font-size: 1rem;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  // align-items: center;
}

@media only screen and (max-width: 970px) and (min-width: 310px) {
  .contact-form {
    align-items: center;
  }
}

@media only screen and (max-width: 670px) and (min-width: 480px) {
  input[type="text"],
  textarea,
  select {
    width: 430px !important;
  }

  .contact-form {
    align-items: center;
  }
}

@media only screen and (max-width: 480px) and (min-width: 310px) {
  input[type="text"],
  textarea,
  select {
    width: 270px !important;
  }

  .checkbox label {
    font-size: 1rem;
  }

  input[type="submit"] {
    width: 180px;
    height: 48px;
    font-size: 1rem;
  }

  input[type="checkbox"] {
    width: 50px;
    height: 50px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
