@import "./../../../../styles/variables";
@import "./../../../../styles/mixins";

input[type="text"],
select,
textarea {
  width: 620px; /* Full width */
  height: 50px;
  padding: 12px; /* Some padding */
  border: 1px solid $color-purple; /* Gray border */
  border-radius: 12px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  background-color: transparent;
  color: white;
  font-family: fontPoppins;
  padding-left: 12px;

  &::placeholder {
    color: white;
    font-family: fontPoppins;
    padding-left: 12px;
  }

  &:hover {
    border-color: $color-green;
  }

  &:focus {
    border-color: $color-green;
    outline: none; /* Remove the default focus outline */
  }
}

input[type="checkbox"] {
  background-image: url("./../../../../assets/icons/contact/default.png");
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
  background-position: center;
  background-repeat: no-repeat;

  &:hover {
    background-image: url("./../../../../assets/icons/contact/default\ -hover.png");
  }

  &:checked {
    background-image: url("./../../../../assets/icons/contact/checked.png");

    &:hover {
      background-image: url("./../../../../assets/icons/contact/checked-hover.png");
    }
  }
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  width: 253px;
  height: 58px;
  background-color: rgb(182, 182, 182);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 12px;
  font-size: 23px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: transparent;
  padding: 20px;
}

label {
  color: white;
}

.checkbox {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;

  label {
    font-size: 14px;
    margin-left: 12px;

    span {
      color: $color-purple;
    }
  }
}

h4 {
  color: white;

  span {
    color: $color-purple;
  }
}

.submit-btn {
  align-items: center;
  justify-content: center;
  display: flex;
}

.isChecked {
  background-color: $color-green !important;
}
