<div class="container">
  <form>

    <label for="name"></label>
    <input type="text" id="name" name="name" placeholder="Your name">

    <label for="email"></label>
    <input type="text" id="email" name="email" placeholder="Your email">

    <label for="subject"></label>
    <textarea id="subject" name="subject" placeholder="Your message" style="height:200px"></textarea>

    <div class="checkbox">
      <label for="policy">I've read the <span>privacy policy</span> and agree to the processing of my data as outlined</label>
      <input type="checkbox" id="policy" name="policy" value="newsletter">
    </div>
  

    <input type="submit" value="Send message :)">
    

  </form>
</div>
