<div class="container">
  <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" class="contact-form" [attr.data-custom]="currentLang">

    <label for="name"></label>
    <input
      #name="ngModel"
      [(ngModel)]="contactData.name"
      minlength="3"
      type="text"
      id="name"
      name="name"
      placeholder="Your name"
      [attr.data-custom]="currentLang"
      required
      [ngClass]="{
        'wrong-input': name.invalid && name.touched && !name.disabled,
        'error-icon': name.invalid && name.touched && !name.disabled,
        'success-icon': !name.invalid && name.touched && !name.disabled
      }"
    />
    <h6 *ngIf="name.invalid && name.touched && !name.disabled" class="wrong-input">
      Your name is required
    </h6>

    <label for="email"></label>
    <input
      #email="ngModel"
      [(ngModel)]="contactData.email"
      type="text"
      id="email"
      name="email"
      placeholder="Your email"
      required
      pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
      [attr.data-custom]="currentLang"
      [ngClass]="{
        'wrong-input': email.invalid && email.touched && !email.disabled,
        'error-icon': email.invalid && email.touched && !email.disabled,
        'success-icon': !email.invalid && email.touched && !email.disabled
      }"
    />
    <h6 *ngIf="email.invalid && email.touched && !email.disabled" class="wrong-input">
      Please enter a valid email
    </h6>

    <label for="subject"></label>
    <textarea
      #message="ngModel"
      [(ngModel)]="contactData.message"
      minlength="5"
      id="subject"
      name="subject"
      placeholder="Your message"
      style="height: 200px"
      required
      [attr.data-custom]="currentLang"
      [ngClass]="{
        'wrong-input': message.invalid && message.touched && !message.disabled,
        'error-icon': message.invalid && message.touched && !message.disabled,
        'success-icon': !message.invalid && message.touched && !message.disabled
      }"
    ></textarea>
    <h6 *ngIf="message.invalid && message.touched && !message.disabled" class="wrong-input">
      Your message is empty
    </h6>

    <div class="checkbox">
      <input
        type="checkbox"
        [attr.data-custom]="currentLang"
        id="policy"
        name="policy"
        [(ngModel)]="isChecked"
        required
      />
      <label for="policy">
        I've read the
        <a [attr.data-custom]="currentLang" class="policy-link" routerLink="/privacyPolicy">privacy policy</a>
        and agree to the processing of my data as outlined
      </label>
    </div>

    <div class="feedback-wrapper">
      <div
        *ngIf="feedbackMessage"
        [ngClass]="{
          'success-msg': feedbackType === 'success',
          'error-msg': feedbackType === 'error'
        }"
      >
        {{ feedbackMessage }}
      </div>
    </div>

    <div class="submit-btn">
      <input
        type="submit"
        value="Send message :)"
        [disabled]="!isChecked || name.invalid || email.invalid || message.invalid"
        [ngClass]="{
          isChecked: isChecked && name.valid && email.valid && message.valid
        }"
      />
    </div>

  </form>
</div>
