@font-face {
  font-family: fontPoppins;
  src: url(./assets/fonts/Poppins/Poppins-Light.ttf);
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: fontPoppins;
  flex-direction: column;
  height: 100vh;
}
