@font-face {
  font-family: fontPoppins;
  src: url(./assets/fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: fontPoppinsBold;
  src: url(./assets/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: fontPoppinsMedium;
  src: url(./assets/fonts/Poppins/Poppins-Medium.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: fontPoppins;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 100vw;
  background-color: rgb(19, 28, 46);
}

main {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  justify-content: center;
  display: block;
}

.no-scroll {
  height: 100vh !important;
  position: fixed;
}
