@font-face {
  font-family: fontPoppins;
  src: url(./assets/fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: fontPoppinsBold;
  src: url(./assets/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: fontPoppinsMedium;
  src: url(./assets/fonts/Poppins/Poppins-Medium.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: fontPoppins;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(19, 28, 46);
  overflow-x: hidden;
}

main {
  max-width: 1980px;
  margin: 0 auto;
  width: 100%;
}
