<footer>
   <div class="footer-wrapper">
         <div class="left-side">
      <div class="logo">
         <a href="index.html"><img src="assets/icons/logo.png" alt=""></a>
         
      </div>
    
   </div>
   <span>&copy; Aldin Dobric 2024</span>
   <div class="social-media">
      <div class="git-wrapper">
         <a class="git" href="https://github.com/D-Aldin" target="_blank" rel="noopener noreferrer"></a>
      </div>
      <div class="email-wrapper">
         <a class="email" (click)="goToContact()"></a>
      </div>
      <div class="in-wrapper">
         <a class="in" href="https://linkedin.com/in/aldin-dobric-58801936b" target="_blank" rel="noopener noreferrer"></a>
      </div>
   </div>

   </div>

     <div #legalNotice class="legal-notice">
         <a routerLink="/impressum" class="underline">Legal Notice</a>
      </div>
</footer>