@import "../../../../styles/variables";
@import "../../../../styles/mixins";

footer {
  border-top: 3px solid rgb(112, 230, 28);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background-color: rgb(20, 29, 47);
  z-index: 999;
  position: relative;
  height: 200px;
  flex-direction: column;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    height: 6px;
    width: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(112, 230, 28, 0.9),
      // Using your green color
      rgba(255, 255, 255, 1),
      // Bright white core
      rgba(112, 230, 28, 0.9),
      transparent
    );
    animation: laserSweep 2s linear infinite;
    transform: translateX(-100%);
    filter: blur(1px);
    box-shadow: 0 0 3px rgba(112, 230, 28, 0.7);
    z-index: 1;
  }

  @keyframes laserSweep {
    100% {
      transform: translateX(100%);
    }
  }

  span {
    font-size: 23px;
    color: white;
  }
}

.legal-notice {
  font-size: 16px;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 80px;

  a {
    color: white;
    @include link-underline($color-green);
  }
}

.social-media {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 20px;
  cursor: pointer;

  .git-wrapper,
  .email-wrapper,
  .in-wrapper {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
  }

  .git {
    @include social-media-icon(
      30px,
      "./../../../../assets/icons/social/git.png",
      "./../../../../assets/icons/social/git_hover.png"
    );
  }

  .email {
    @include social-media-icon(
      30px,
      "./../../../../assets/icons/social/email.png",
      "./../../../../assets/icons/social/email_hover.png"
    );
  }

  .in {
    @include social-media-icon(
      30px,
      "./../../../../assets/icons/social/in.png",
      "./../../../../assets/icons/social/in_hover.png"
    );
  }
}

.underline {
  @include link-underline($color-green);
  cursor: pointer;
}

.footer-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 970px) and (min-width: 670px) {
  footer {
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 300px;
  }

  .logo img {
    width: 200px;
    height: 60px;
  }

  .footer-wrapper {
    flex-direction: column;
  }

  .legal-notice {
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .left-side {
    margin-bottom: 20px;
  }

  .social-media {
    padding: 20px;
  }
}

@media only screen and (max-width: 670px) and (min-width: 310px) {
  footer {
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 300px;
  }

  .logo img {
    width: 200px;
    height: 60px;
  }

  .footer-wrapper {
    flex-direction: column;
  }

  .legal-notice {
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .left-side {
    margin-bottom: 20px;
  }

  .social-media {
    padding: 20px;
  }
}
