@import "../../../../styles/variables";
@import "../../../../styles/mixins";

footer {
  margin-top: 120px;
  border-top: 1px solid $color-green;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.logo {
  img {
    height: 50px;
    width: 165px;
  }
}

.social-media {
  display: flex;
  align-items: center;

  height: 100%;
  gap: 20px;
  cursor: pointer;

  .git {
    @include social-media-icon(
      30px,
      "./../../../../assets/icons/social/git.png",
      "./../../../../assets/icons/social/git_hover.png"
    );
  }

  .email {
    @include social-media-icon(
      30px,
      "./../../../../assets/icons/social/email.png",
      "./../../../../assets/icons/social/email_hover.png"
    );
  }

  .in {
    @include social-media-icon(
      30px,
      "./../../../../assets/icons/social/in.png",
      "./../../../../assets/icons/social/in_hover.png"
    );
  }
}
