@import "../../../../styles/variables";
@import "../../../../styles/mixins";

footer {
  border-top: 3px solid rgb(112, 230, 28);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background-color: rgb(20, 29, 47);
  z-index: 999;
  position: relative;
  height: 291px;

  span {
    font-size: 23px;
    color: white;
  }
}

.logo {
  img {
    height: 60px;
    width: 200px;
  }
}

.legal-notice {
  font-size: 16px;

  a {
    color: white;
    @include link-underline($color-green);
  }
}

.social-media {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 20px;
  cursor: pointer;

  .git {
    @include social-media-icon(
      30px,
      "./../../../../assets/icons/social/git.png",
      "./../../../../assets/icons/social/git_hover.png"
    );
  }

  .email {
    @include social-media-icon(
      30px,
      "./../../../../assets/icons/social/email.png",
      "./../../../../assets/icons/social/email_hover.png"
    );
  }

  .in {
    @include social-media-icon(
      30px,
      "./../../../../assets/icons/social/in.png",
      "./../../../../assets/icons/social/in_hover.png"
    );
  }
}

.underline {
  @include link-underline($color-green);
  cursor: pointer;
}
