<div class="review-wrapper">
   <div class="review-block">
      <div class="review-container">
         <div class="exclamation">
            <img src="./../../../../assets/icons/portfolio/review/exclamation.png" alt="">
         </div>
         <div class="review-text">
            @if(this.currentLanguage === "en") {
            <span>{{this.reviews[this.counter].englishReview}}</span><br><br>
            } @else {
            <span>{{this.reviews[this.counter].germanReview}}</span><br><br>
            }
            <div class="name">
               <div class="line-in-review"></div>
               <h3>{{this.reviews[this.counter].name}}</h3>
            </div>
         </div>
      </div>
      <div class="image-container">
         <img [src]="reviews[this.counter].image" alt="">
         <div class="line"></div>
      </div>
   </div>
   <div class="review-buttons">
      <img (click)="backReview()" src="./../../../../assets/icons/portfolio/review/left.png" alt="">
      <div class="dots-container">
         @for(review of reviews; let i = $index; track i ) {
         <div class="dot" [ngClass]="{ 'active-dot': i === this.selectedReview }" id="dot-{{i}}"></div>
         }
      </div>
      <img (click)="nextReview()" src="./../../../../assets/icons/portfolio/review/right.png" alt="">
   </div>
</div>