@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.review-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.review-block {
  display: flex;
  gap: 20px;
  padding: 0 50px 0 50px;
}

.review-container {
  width: 1171.5px;
  height: 272px;
  display: flex;
  border: 3px solid $color-green;
  border-radius: 25px;
  justify-content: center;
  flex-direction: column;
}

.review-text {
  padding: 50px;
}

.name {
  display: flex;
  align-items: center;
  gap: 20px;

  h3 {
    display: flex;
    white-space: nowrap;
  }
}

.line-in-review {
  @include purple-line($width: 95%);
}

.review-buttons {
  display: flex;
  align-items: center;
  margin: 10px 0 10px 0;

  img {
    cursor: pointer;
  }
}

.dots-container {
  display: flex;
  gap: 15px;
  margin: 15px;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: $color-purple;
  border-radius: 50%;
  display: inline-block;
}

.active-dot {
  background-color: $color-green;
}
