@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.review-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.review-block {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: flex-end;

  @include respond-between(310px, 970px) {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.exclamation {
  position: relative;
  img {
    position: absolute;
    bottom: 110px;
    right: -30px;
  }

  @include respond-between(670px, 740px) {
    img {
      width: 50px;
      height: auto;
    }
  }

  @include respond-between(510px, 670px) {
    img {
      width: 45px;
      height: auto;
      bottom: 160px;
    }
  }

  @include respond-between(310px, 510px) {
    img {
      width: 45px;
      height: auto;
      bottom: 187px;
    }
  }
}

.review-container {
  width: 1171.5px;
  height: 272px;
  display: flex;
  border: 3px solid $color-green;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  @include glow-effect($color-green, 10px, 20px, 9px);

  @include respond-between(1601px, 1920px) {
    width: 1091px;
  }

  @include respond-between(1301px, 1600px) {
    width: 810px;
  }

  @include respond-between(1200px, 1299px) {
    width: 750px !important;
  }

  @include respond-between(670px, 1300px) {
    width: 600px;
  }

  @include respond-between(510px, 670px) {
    width: 470px;
    height: 347px;
  }

  @include respond-between(310px, 510px) {
    width: 290px;
    height: 400px;
  }
}

.review-text {
  padding: 0 50px 0 50px;
  width: 100%;

  @include respond-between(1301px, 1600px) {
    padding: 0 25px 0 25px;
  }

  @include respond-between(970px, 1300px) {
    padding: 20px 20px 20px 20px;
  }

  @include respond-between(310px, 670px) {
    padding: 8px;
  }
}

.name {
  display: flex;
  align-items: center;
  gap: 20px;

  h3 {
    display: flex;
    white-space: nowrap;
    font-family: fontPoppins;
    font-weight: normal;
  }

  @include respond-between(970px, 1300px) {
    h3 {
      font-size: 0.875rem;
    }
  }

  @include respond-between(310px, 670px) {
    h3 {
      font-size: 0.793rem;
    }
  }
}

.line-in-review {
  @include purple-line($width: 95%);
  @include glow-effect($color-purple, 10px, 20px, 30px);
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;

  img {
    border: 3px solid $color-purple;
    border-radius: 50%;
    width: 242px;
    height: 242px;
    object-fit: cover;
    @include glow-effect($color-purple, 10px, 20px, 9px);
  }

  @include respond-between(1921px, 3500px) {
    .line {
      width: 100vw !important;
      margin-right: calc(-100vw + 50%) !important;
    }
  }

  @include respond-between(1024px, 1300px) {
    img {
      width: 220px;
      height: 220px;
    }
  }

  @include respond-between(970px, 1024px) {
    img {
      width: 200px;
      height: 200px;
    }
  }

  @include respond-between(670px, 970px) {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  @include respond-between(310px, 670px) {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    img {
      width: 144px;
      height: 144px;
    }
  }
}

.line {
  @include purple-line($width: 104px);
  @include glow-effect($color-purple, 10px, 20px, 30px);

  @include respond-between(1024px, 1300px) {
    width: 80px;
  }

  @include respond-between(970px, 1024px) {
    width: 50px;
  }

  @include respond-between(670px, 970px) {
    min-width: calc(100% - 242px - 50%);
    width: calc(100% - 121px - 50%);
  }

  @include respond-between(310px, 670px) {
    min-width: calc(100% - 144px - 50%);
    width: calc(100% - 72px - 50%);
  }
}

.review-buttons {
  display: flex;
  align-items: center;
  margin: 10px 0 10px 0;

  img {
    cursor: pointer;
  }

  @include respond-between(970px, 1024px) {
    margin: 10px 90px 10px 0;
  }
}

.dots-container {
  display: flex;
  gap: 35px;
  margin: 15px;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: $color-purple;
  border-radius: 50%;
  display: inline-block;
}

.active-dot {
  background-color: $color-green;
}

span {
  @include respond-between(1301px, 1600px) {
    font-size: 0.813rem;
  }

  @include respond-between(1024px, 1300px) {
    font-size: 0.793rem;
  }

  @include respond-between(670px, 1024px) {
    font-size: 0.793rem;
  }

  @include respond-between(310px, 670px) {
    font-size: 0.793rem;
    z-index: 2222;
    position: relative;
  }
}
