<div class="section-wrapper">
    <app-header></app-header>
<section>
   <h1>Impressum</h1>
   <p>Angaben gemäß § 5 DDG</p>
   <div class="shadow-image-1">
    <img src="./../../assets/img/impressum/impressum_1.png" alt="shadow">
   </div>
   <p>Aldin Dobric<br> 
      Aldin Dobric<br> 
      Storchgasse 17<br> 
      65929 Frankfurt am Main <br> 
   </p><br>
   <h2> <strong>Vertreten durch: </strong><br></h2>
      Aldin Dobric<br><br>

   <h2><strong>Kontakt:</strong> <br></h2>
      Telefon: 0049-17222222<br>
      E-Mail: <a href='mailto:dobricaldin&#64;gmail.com'>dobricaldin&#64;gmail.com</a>
   <br><br>

   <h2>{{langPath.legalNotice.liability[0]}}</h2>
   <br>

   <h2>{{langPath.legalNotice.liabilityForContent[0]}}</h2>
   <p>{{langPath.legalNotice.liabilityForContent[1]}}</p>
   <br>

   <h2>{{langPath.legalNotice.liabilityForLinks[0]}}</h2>
   <p>{{langPath.legalNotice.liabilityForLinks[1]}}</p>
   <br>

   <h2>{{langPath.legalNotice.copyright[0]}}</h2>
   <p>{{langPath.legalNotice.copyright[1]}}</p>
   <br>

   <h2>{{langPath.legalNotice.dataProtection[0]}}</h2>
   <p>{{langPath.legalNotice.dataProtection[1]}}</p>

   
   <br> 
   <div class="shadow-image-2">
    <img src="./../../assets/img/impressum/impressum_2.png" alt="">
   </div>
   Erstellt mit <a href="https://impressum-generator.de" rel="dofollow">Impressum-Generator.de</a>, dem Tool für Impressum und <a href="https://impressum-generator.de/datenschutz-generator" rel="dofollow">Datenschutz-Erklärung</a>. Nach einer Vorlage der <a href="https://www.kanzlei-hasselbach.de/" rel="dofollow">Kanzlei Hasselbach</a>.
</section>

</div>
