.section-wrapper {
  max-width: 1920px;
  position: relative;
  overflow: hidden;
}

section {
  color: white;
  padding: 100px;
  display: inline-block;
  z-index: 999;
}

h1 {
  font-size: 3.75rem;
}

.shadow-image-1 {
  position: relative;

  img {
    position: absolute;
    right: 100%;
    transform: translateX(27%);
    top: -318px;
    z-index: -1;
  }
}

.shadow-image-2 {
  position: relative;

  img {
    position: absolute;
    left: 76%;
    transform: translateX(27%);
    top: -648px;
    z-index: -1;
  }
}

@media only screen and (max-width: 500px) and (min-width: 310px) {
  section {
    padding: 50px;
  }

  h1 {
    font-size: 2.5rem !important;
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.875rem;
  }
}
