@mixin flex-center($justify: center, $align: center, $direction: null) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  @if $direction {
    flex-direction: $direction;
  }
}

@mixin button-style() {
  cursor: pointer;
  font-family: fontPoppins;
  border: none;
  background-color: $color-green;
  border-radius: 10px;
  color: white;
  font-size: 23px;
}
