$breakpoints: (
  xl: 1300,
  lg: 1024,
  md: 768,
  sm: 480,
);

@mixin flex-setup($justify: center, $align: center, $direction: null) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  @if $direction {
    flex-direction: $direction;
  }
}

@mixin button-style($bkg-color) {
  cursor: pointer;
  font-family: fontPoppins;
  border: none;
  background-color: $bkg-color;
  border-radius: 10px;
  color: white;
  font-size: 1.438rem;
}

@mixin horizontalLine($width: 100px, $color, $margin: 0) {
  border: 2px solid $color;
  border-radius: 10px;
  width: $width;
  height: 2px;
  margin: $margin;
}

@mixin social-media-icon($size: 30px, $icon-url, $hover-url: null) {
  width: $size;
  height: $size;
  background-image: url($icon-url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;

  @if $hover-url != null {
    &:hover {
      background-image: url($hover-url);
      width: 40px;
      height: 40px;
    }
  }
}

@mixin link-underline($color) {
  position: relative;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 2px;
    background-color: $color;
    transition: transform 0.3s ease;
    transform-origin: left bottom;
    transform: scaleX(0);
  }

  &:hover::before {
    transform: scaleX(1);
  }
}

@mixin respond-between($min, $max) {
  @media only screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin iphone-se {
  @media (max-width: 375px) and (max-height: 667px) {
    @content;
  }
}

@mixin iphone4-portrait {
  @media only screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
    @content;
  }
}

@mixin shadow-img-small {
  width: 540px;
  height: 540px;
  position: relative;
  top: -50px;
  left: 0;
}

@mixin glow-effect($color, $first-value, $second-value, $third-value) {
  box-shadow: 0 0 $first-value rgba($color, 0.8),
    0 0 $second-value rgba($color, 0.6), 0 0 $third-value rgba($color, 0.4);
}
