$background-primary-color: rgb(20, 29, 47);
$background-secondary-color: rgb(19, 28, 46);
$color-green: rgba(112, 230, 28, 1);
$color-purple: rgba(151, 71, 255, 1);

$color-orange: rgba(232, 114, 6, 1);
$color-red: rgba(244, 69, 70, 1);

$color-light-blue: rgba(1, 183, 224, 1);
$color-blue: rgba(74, 70, 248, 1);
